jminor.db.type=h2
jminor.db.host=h2db/h2
jminor.db.embedded=true
jminor.db.useOptimisticLocking=true
jminor.server.pooling.initial=scott
jminor.server.clientLoggingEnabled=true
jminor.server.admin.port=4445
jminor.server.port=2223
jminor.server.db.port=3334
jminor.server.domain.jars=lib/jminor-demos.jar
jminor.server.domain.classes=org.jminor.framework.demos.empdept.domain.EmpDept,\
  org.jminor.framework.demos.petstore.domain.Petstore,\
  org.jminor.framework.demos.chinook.domain.Chinook
javax.net.ssl.keyStore=config/JMinorServerKeystore
javax.net.ssl.keyStorePassword=jminor
java.rmi.server.hostname=localhost
