jminor.server.domain.jars=lib/jminor-demos.jar
jminor.server.domain.classes=org.jminor.framework.demos.empdept.domain.EmpDept,\
  org.jminor.framework.demos.petstore.domain.Petstore,\
  org.jminor.framework.demos.chinook.domain.Chinook
jminor.db.useOptimisticLocking=true
javax.net.ssl.keyStore=config/JMinorServerKeystore
javax.net.ssl.keyStorePassword=jminor
jminor.server.pooling.initial=scott
jminor.server.clientLoggingEnabled=true
java.rmi.server.hostname=localhost
jminor.db.type=mysql
jminor.server.port=2222
jminor.server.admin.port=4444
jminor.server.db.port=80
jminor.db.host=localhost
jminor.db.port=3306
jminor.db.sid=mysql