jminor.db.host=localhost
jminor.db.port=3306
jminor.db.sid=mysql
jminor.db.useOptimisticLocking=true
jminor.db.type=mysql
jminor.server.admin.port=4444
jminor.server.clientLoggingEnabled=true
jminor.server.domain.jars=lib/jminor-demos.jar
jminor.server.domain.classes=org.jminor.framework.demos.empdept.domain.EmpDept,\
  org.jminor.framework.demos.petstore.domain.Petstore,\
  org.jminor.framework.demos.chinook.domain.Chinook
jminor.server.loginProxyClasses=org.jminor.framework.demos.empdept.server.EmpDeptLoginProxy
jminor.server.pooling.initial=scott:tiger
jminor.server.port=2222
jminor.server.registryPort=1099
#jminor.server.web.documentRoot=/var/www
java.rmi.server.hostname=localhost
java.rmi.server.randomIDs=true
#java.rmi.server.codebase=file://{replace with basedir}/lib/jminor-common.jar \
#  file://{replace with basedir}/lib/jminor-server.jar \
#  file://{replace with basedir}/lib/slf4j-api-1.6.1.jar \
#  file://{replace with basedir}/lib/logback-classic-0.9.24.jar \
#  file://{replace with basedir}/lib/logback-core-0.9.24.jar
java.rmi.server.useCodebaseOnly=true
javax.net.ssl.keyStore=config/JMinorServerKeystore
javax.net.ssl.keyStorePassword=jminor
#when running the shutdown command, we need to be able to connect to the server
javax.net.ssl.trustStore=config/JMinorServerMonitorTruststore