jminor.db.host=localhost
jminor.db.port=1521
jminor.db.sid=xe
jminor.db.useOptimisticLocking=true
jminor.db.type=oracle
jminor.server.admin.user=scott:tiger
jminor.server.clientLoggingEnabled=true
jminor.server.domain.classes=org.jminor.framework.demos.empdept.domain.EmpDept,\
  org.jminor.framework.demos.petstore.domain.Petstore,\
  org.jminor.framework.demos.chinook.domain.Chinook,\
  org.jminor.framework.demos.world.domain.World
jminor.server.loginProxyClasses=org.jminor.framework.demos.empdept.server.EmpDeptLoginProxy
jminor.server.pooling.initial=scott:tiger
jminor.server.port=2222
jminor.server.admin.port=4444
jminor.server.registryPort=1099
java.rmi.server.hostname=localhost
java.rmi.server.randomIDs=true
java.rmi.server.useCodebaseOnly=true
javax.net.ssl.keyStore=config/JMinorServerKeystore
javax.net.ssl.keyStorePassword=crappypass
#when running the shutdown command, we need to be able to connect to the server
javax.net.ssl.trustStore=config/JMinorServerMonitorTruststore
# uncomment when using the notsoserial library, add -javaagent:lib/notsoserial-1.0-SNAPSHOT.jar to launch command
#notsoserial.whitelist=config/notsoserial-whitelist.txt
#notsoserial.useDefaultBlacklist=false