jminor.server.domain.jars=lib/jminor-demos.jar
jminor.server.domain.classes=org.jminor.framework.demos.empdept.domain.EmpDept,\
  org.jminor.framework.demos.petstore.domain.Petstore,\
  org.jminor.framework.demos.chinook.domain.Chinook
jminor.db.useOptimisticLocking=true
javax.net.ssl.keyStore=config/JMinorServerKeystore
javax.net.ssl.keyStorePassword=jminor
jminor.server.pooling.initial=scott
java.rmi.server.hostname=localhost
jminor.db.type=oracle
jminor.server.port=2222
jminor.server.admin.port=4444
jminor.server.db.port=80
jminor.db.host=stofupallur.fiskistofa.is
jminor.db.port=1521
jminor.db.sid=ran