grant {
  permission java.io.FilePermission "${user.home}/logs", "read";
  permission java.io.FilePermission "${user.home}/logs/-", "read,write,delete";
  permission java.io.FilePermission "${user.dir}/-", "read,write,delete";
  permission java.io.FilePermission "./-", "read,write,delete";

  permission java.net.SocketPermission "*:80-", "connect";
  permission java.net.SocketPermission "*", "accept";
  //Database port
  permission java.net.SocketPermission "*:1521", "connect";
  //Client service port
  permission java.net.SocketPermission "*:6666", "connect,listen";
  //Server admin port
  permission java.net.SocketPermission "*:6667", "connect,listen";
  //RMI Registry
  permission java.net.SocketPermission "*:1099", "connect,listen";

  permission java.util.PropertyPermission "*", "read, write";

  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "shutdownHooks";
  //for an embedded database residing in the server working directory
  permission java.io.FilePermission "-", "read,write,delete";
  //for JasperReports report generation and domain class loading
  permission java.lang.RuntimePermission "createClassLoader";
  permission java.lang.RuntimePermission "getProtectionDomain";
  permission java.lang.RuntimePermission "modifyThread";
};