grant {
  //write to the log file
  permission java.io.FilePermission "${user.home}/logs", "read";
  permission java.io.FilePermission "${user.home}/logs/*", "read,write,delete";
  permission java.io.FilePermission "${java.io.tmpdir}/*", "read,write,delete";
  permission java.io.FilePermission "${java.home}/-", "read";
  //read everything
  permission java.io.FilePermission "<<ALL FILES>>", "read";

  permission java.net.SocketPermission "*:80-", "connect";

  //read and write all system properties
  permission java.util.PropertyPermission "*", "read,write";

  permission java.awt.AWTPermission "accessEventQueue";
  permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
  permission java.awt.AWTPermission "accessClipboard";
  permission java.awt.AWTPermission "setWindowAlwaysOnTop";

  permission java.lang.RuntimePermission "setDefaultUncaughtExceptionHandler";
};