grant {
    permission java.io.FilePermission "../config/-", "read";
    permission java.io.FilePermission "../lib/-", "read";
    permission java.io.FilePermission "../logs/-", "read,write,delete";
    permission java.io.FilePermission "../reports/-", "read";
    permission java.io.FilePermission "../web", "read";
    permission java.io.FilePermission "jasperreports.properties", "read";
    permission java.io.FilePermission "mem:h2db.h2.db", "read";
    permission java.io.FilePermission "mem:h2db.mv.db", "read";
    permission java.io.FilePermission "net/sf/jasperreports/fonts/icons/icons.ttf", "read";
    permission java.io.FilePermission "net/sf/jasperreports/fonts/jasperreports-fonts.xml", "read";
    permission java.io.FilePermission "/tmp/*", "write,delete";
    permission java.lang.management.ManagementPermission "monitor";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.misc";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.RuntimePermission "getenv.JETTY_AVAILABLE_PROCESSORS";
    permission java.lang.RuntimePermission "getenv.JETTY_WORKER_INSTANCE";
    permission java.lang.RuntimePermission "getProtectionDomain";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "shutdownHooks";
    permission java.net.SocketPermission "127.0.0.1:*", "accept,resolve";
    permission java.net.SocketPermission "localhost:2222", "listen,resolve";
    permission java.net.SocketPermission "localhost:4444", "listen,resolve";
    permission java.net.SocketPermission "localhost:8080", "listen,resolve";
    permission java.util.PropertyPermission "java.rmi.server.hostname", "write";
    permission java.util.PropertyPermission "java.rmi.server.randomIDs", "write";
    permission java.util.PropertyPermission "java.rmi.server.useCodebaseOnly", "write";
    permission java.util.PropertyPermission "javax.net.ssl.keyStorePassword", "write";
    permission java.util.PropertyPermission "javax.net.ssl.keyStore", "write";
    permission java.util.PropertyPermission "javax.net.ssl.trustStorePassword", "write";
    permission java.util.PropertyPermission "javax.net.ssl.trustStore", "write";
    permission java.util.PropertyPermission "jetty.git.hash", "write";
    permission java.util.PropertyPermission "codion.*", "write";
    permission java.util.PropertyPermission "logback.configurationFile", "write";
    permission java.util.PropertyPermission "*", "read,write";
};