# Database configuration
jminor.db.type=h2
jminor.db.host=h2db
jminor.db.embeddedInMemory=true
jminor.db.useOptimisticLocking=true
jminor.db.initScript=
    ../config/empdept/create_schema.sql,\
    ../config/chinook/create_schema.sql,\
    ../config/petstore/create_schema.sql,\
    ../config/world/create_schema.sql

# The admin user credentials, used by the server monitor application
jminor.server.admin.user=scott:tiger

# Client logging enabled by default
jminor.server.clientLoggingEnabled=true

# A domain model class for each application
jminor.server.domain.classes=
    org.jminor.framework.demos.empdept.domain.EmpDept,\
    org.jminor.framework.demos.petstore.domain.Petstore,\
    org.jminor.framework.demos.chinook.domain.impl.ChinookImpl,\
    org.jminor.framework.demos.world.domain.World

# Any LoginProxy implementations
jminor.server.loginProxyClasses=
    org.jminor.framework.demos.empdept.server.EmpDeptLoginProxy

# A connection pool based on this user is created on startup
jminor.server.pooling.startupPoolUsers=scott:tiger

# The port used by clients
jminor.server.port=2222

# The port for the admin interface, used by the server monitor
jminor.server.admin.port=4444

# RMI Registry port
jminor.server.registryPort=1099

# Any auxiliary servers to run along this server
jminor.server.auxiliaryServerClassNames=
    org.jminor.framework.servlet.EntityServletServer

# A directory from which to server files
jminor.server.http.documentRoot=./web

# The http port
jminor.server.http.port=8080

# Specifies whether or not to use https
jminor.server.http.secure=false

# The serialization whitelist to use for RMI deserialization
jminor.server.serializationFilterWhitelist=
    ../config/serialization-whitelist.txt

# RMI configuration
java.rmi.server.hostname=localhost
java.rmi.server.randomIDs=true
java.rmi.server.useCodebaseOnly=true

# SSL configuration
javax.net.ssl.keyStore=../config/jminor_keystore.jks
javax.net.ssl.keyStorePassword=crappypass

# Used to connect to the server to shut it down
javax.net.ssl.trustStore=../config/jminor_truststore.jks
javax.net.ssl.trustStorePassword=crappypass